<!-- ================= FOOTER ================= -->
<footer class="footer" id="contact">
  <div class="container footer-grid">

    <!-- Brand / About -->
    <div class="footer-col">
      <h3>Le Sapphire</h3>
      <p>
        Nơi chăm sóc sắc đẹp toàn diện với liệu trình phun môi cao cấp,
        mang đến trải nghiệm thẩm mỹ – an toàn – hiệu quả.
      </p>
    </div>

    <!-- Contact -->
    <div class="footer-col">
      <h4>Liên hệ</h4>
      <ul>
        <li>📍 161/13 Cộng Hòa, Phường 12 <br>Quận Tân Bình, TP. HCM</br></li>
        <li>📞 0567 811 468</li>
        <li>✉️ le.sapphire.pmu@gmail.com</li>
      </ul>
    </div>

    <!-- Services -->
    <div class="footer-col">
      <h4>Dịch vụ</h4>
      <ul>
        <li>Khử thâm môi</li>
      </ul>
    </div>

    <!-- Social / Time -->
    <div class="footer-col">
      <h4>Giờ mở cửa</h4>
      <ul>Thứ 2 – CN: 09:00 – 18:00</ul>
<br>

      <h4>Kết nối</h4>
      <div class="social-links">
        <a href="https://web.facebook.com/profile.php?id=61584098265979">Facebook</a>
        <a href="https://www.instagram.com/le_sapphire.vn/">Instagram</a>
        <a href="https://www.threads.com/@le_sapphire.vn">Threads</a>
      </div>
    </div>

  </div>

  <div class="footer-bottom">
    <p>© 2025 Le Sapphire. All rights reserved.</p>
    <p>Minimal • Professional • Modern</p>
  

  </div>
</footer>
